<header>
    <div class="headerwrapper ">
        <div class="header-left form-inline">
            <img src="https://cdn3.iconfinder.com/data/icons/business-management-blue-set-3/64/blue-30-512.png" class="logo" width="25%" height="25%" />
            <h1 style="color: white;">Meeting Room Booking System</h1>
        </div>
        <div class="header-right" style="padding-top: 3%;">
            <a (click)="logOut()" class="btn btn-social-icon btn-github hidden-sm-down"><i class="fa fa-github"></i> LOGOUT</a>
        </div><!-- header-right -->
    </div><!-- headerwrapper -->
</header>
