<div  id="page-wrapper">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="white-box" style="margin-left: 20px;">
                <app-bar-chart [rooms]="rooms" ></app-bar-chart>

            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="white-box" style="margin-right: 20px;">

                <app-line-chart [bookedRooms]="bookedRooms"></app-line-chart>
            </div>
        </div>
    </div>

</div>
